function Dropper.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push pointer 0
return
function Dropper.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Dropper.getAndIncrement 0
push argument 0
pop pointer 0
push this 0
push constant 1
add
pop this 0
push constant 0
pop this 1
push this 0
push constant 180
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 1
label IF_FALSE0
push this 0
push constant 360
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
pop this 1
label IF_FALSE1
push this 0
push constant 540
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 3
pop this 1
label IF_FALSE2
push this 0
push constant 720
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 4
pop this 1
label IF_FALSE3
push this 0
push constant 721
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop this 0
label IF_FALSE4
push this 1
return
function Dropper.reset 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push constant 0
return
function Dropper.getValue 0
push argument 0
pop pointer 0
push this 1
return
