function HeartSprite.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 2
push constant 0
pop this 0
push constant 1
neg
pop this 1
push constant 0
not
pop this 3
push pointer 0
return
function HeartSprite.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function HeartSprite.getY 0
push argument 0
pop pointer 0
push this 0
return
function HeartSprite.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function HeartSprite.updatePosition 0
push argument 0
pop pointer 0
push this 0
pop this 1
push this 0
push argument 1
add
pop this 0
push constant 0
return
function HeartSprite.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push this 0
call HeartSprite.drawAtColumnTopWithOffset 2
pop temp 0
push constant 0
return
function HeartSprite.erase 0
push argument 0
pop pointer 0
push this 1
push constant 1
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 2
push this 1
call HeartSprite.drawAtColumnTopWithOffset 2
pop temp 0
label IF_FALSE0
push constant 0
return
function HeartSprite.eraseCurrent 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 2
push this 0
call HeartSprite.drawAtColumnTopWithOffset 2
pop temp 0
push constant 0
return
function HeartSprite.isActive 0
push argument 0
pop pointer 0
push this 3
return
function HeartSprite.setActive 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function HeartSprite.getDistanceFrom 1
push argument 0
pop pointer 0
push this 0
push argument 1
sub
pop local 0
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push local 0
sub
pop local 0
label IF_FALSE0
push local 0
return
function HeartSprite.drawAtColumnTop 0
push argument 0
push constant 0
call HeartSprite.drawAtColumnTopWithOffset 2
pop temp 0
push constant 0
return
function HeartSprite.drawAtColumnTopWithOffset 2
push constant 512
push constant 4
call Math.divide 2
pop local 0
push argument 0
push constant 1
sub
push local 0
call Math.multiply 2
push local 0
push constant 2
call Math.divide 2
add
pop local 1
push local 1
push argument 1
call HeartSprite.drawHeart32At 2
pop temp 0
push constant 0
return
function HeartSprite.drawHeart32At 14
push constant 4
call Array.new 1
pop local 0
push constant 4
call Array.new 1
pop local 1
push constant 0
push local 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 12
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 3
label WHILE_EXP0
push local 3
push constant 4
lt
not
if-goto WHILE_END0
push argument 1
push local 3
add
pop local 5
push local 5
push constant 1
neg
gt
push local 5
push constant 256
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
push local 1
add
pop pointer 1
push that 0
push constant 2
call Math.divide 2
pop local 9
push argument 0
push local 9
sub
push local 3
push local 0
add
pop pointer 1
push that 0
sub
pop local 10
push local 10
push local 3
push local 0
add
pop pointer 1
push that 0
add
push constant 1
sub
pop local 11
push argument 0
push local 9
add
pop local 12
push local 12
push local 3
push local 0
add
pop pointer 1
push that 0
add
push constant 1
sub
pop local 13
push local 10
push local 5
push local 11
push local 5
call Screen.drawRectangle 4
pop temp 0
push local 12
push local 5
push local 13
push local 5
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 28
call Array.new 1
pop local 2
push constant 0
push local 2
add
push constant 22
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push constant 26
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 2
add
push constant 30
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 2
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 2
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 2
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 2
add
push constant 30
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 2
add
push constant 28
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 2
add
push constant 26
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 2
add
push constant 24
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 2
add
push constant 22
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 2
add
push constant 20
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 2
add
push constant 18
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 2
add
push constant 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 2
add
push constant 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 2
add
push constant 14
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push local 2
add
push constant 12
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push local 2
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push local 2
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push local 2
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push local 2
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push local 2
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push local 2
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push local 2
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push local 2
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push local 2
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push local 2
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push local 2
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 4
label WHILE_EXP1
push local 4
push constant 28
lt
not
if-goto WHILE_END1
push argument 1
push constant 4
add
push local 4
add
pop local 5
push local 5
push constant 1
neg
gt
push local 5
push constant 256
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push local 2
add
pop pointer 1
push that 0
push constant 2
call Math.divide 2
pop local 6
push argument 0
push local 6
sub
pop local 7
push argument 0
push local 6
add
push constant 1
sub
pop local 8
push local 7
push local 5
push local 8
push local 5
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP1
label WHILE_END1
push local 0
call Array.dispose 1
pop temp 0
push local 1
call Array.dispose 1
pop temp 0
push local 2
call Array.dispose 1
pop temp 0
push constant 0
return
