function ScreenInitial.divideIntoFourColumns 4
push constant 512
push constant 4
call Math.divide 2
pop local 0
push local 0
pop local 1
push local 0
push constant 2
call Math.multiply 2
pop local 2
push local 0
push constant 3
call Math.multiply 2
pop local 3
push local 1
push constant 0
push local 1
push constant 255
call Screen.drawLine 4
pop temp 0
push local 2
push constant 0
push local 2
push constant 255
call Screen.drawLine 4
pop temp 0
push local 3
push constant 0
push local 3
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 192
push constant 511
push constant 192
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 240
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
